/* Id */
div#map1 { width: 1200px; height: 800px;  border: 1px solid #000; overflow: hidden; }

/* Class */
.nicebox1 
{ 
position: absolute; text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 13px;
z-index: 5; box-shadow: 0 4px 6px -4px #333; padding: 5px 10px; background: rgb(255,255,255) ;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,  rgba(255,255,255,1) 100% );
border: rgb(229, 229, 229) 1px solid; 
}

.color-key1 
{ 
    background: linear-gradient
    (to right, hsl(5, 70%, 55%) 0%, hsl(30, 70%, 50%) 15%,  hsl(55, 75%, 45%) 33%, 
    hsl(75, 75%, 45%) 50%, hsl(100, 80%, 40%) 70%, hsl(130, 80%, 40%) 80%,  hsl(150, 80%, 35%) 100%,); 
    flex: 1; -webkit-box-flex: 1; margin: 0 5px; text-align: left; font-size: 1.0em; line-height: 1.0em;
}

.button1
{
    position: absolute; z-index: 1;  width: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,  rgba(255,255,255,1) 100% );
}

.dataInfo1 { text-align:left; margin-left: 350px;  font-weight: lighter; height: 18px; font-size: 16px;}

.form1
{ 
    text-align:left; position: absolute; z-index: 1; width: 45px; font-size: 16px; ;
}

/* Division */
#controls1 { top: 5px; left: 10px; width: 220px; height: 40px; }
#census-var1 { width: 220px; height: 30px; font-size: 18px;}

